<template>
  <div class="row">
    <div class="col card-wrapper">
      <div class="card shadow">
        <div class="card-header">
          <div class="row justify-content-between" v-show="showCompetitions">
            <div class="col-md-12 my-2 align-content-end">
              <h2>Competiciones</h2>
            </div>
          </div>
          <div class="row" v-show="showCompetitionDetail">
            <loading-overlay 
              :active="busyCompetitionDetail" :can-cancel="false" :is-full-page="false" :color="'#24a76f'" :width="80" :height="80">
            </loading-overlay>
            <div class="col-md-10 d-flex justify-content-justify-content-center">
              <img :src="competition.emblem" :alt="competition.name" width="80px">
              <div class="mx-2">
                <h2>{{ competition.name }} - {{ competition.code }}</h2>
                <div>
                   <span class="mt-2"><b>TIPO:</b> {{ competition.type }}</span>
                   <br>
                   <span class="mt-2"><b>PLAN:</b> {{ competition.plan }}</span>
                   <br>
                   <span v-if="competition.area">
                    <img :src="competition.area.flag" :alt="competition.area.flag" width="20px">
                     {{ competition.area.name }}  
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-sm float-right" @click="backCompetitionsList()">Volver</button>
            </div>
          </div>
          <div class="row" v-show="showTeamDetail">
            <loading-overlay 
              :active="busyTeamDetail" :can-cancel="false" :is-full-page="false" :color="'#24a76f'" :width="80" :height="80">
            </loading-overlay>
            <div class="col-md-10 d-flex justify-content-justify-content-center">
              <img :src="team.crest" :alt="competition.name" width="80px">
              <div class="mx-2">
                <h2>{{ team.name }}</h2>
                <div>
                   <span class="mt-2"><b>WEB:</b><a :href="team.website" target="_blank">{{ team.website }}</a></span>
                   <br>
                   <span class="mt-2"><b>DIRECCIÓN:</b> {{ team.plan }}</span>
                   <br>
                   <span class="mt-2"><b>COLORES:</b> {{ team.clubColors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-sm float-right" @click="backCompetitionsList()">Volver</button>
            </div>
          </div>
        </div>

        <div class="table-responsive" v-show="showCompetitions">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="name">EMBLEMA</th>
                <th scope="col" class="sort" data-sort="name">NOMBRE</th>
                <th scope="col" class="sort" data-sort="name">CODIGO</th>
                <th scope="col" class="sort" data-sort="name">AREA</th>
                <th scope="col" class="sort" data-sort="name">TIPO</th>
                <th scope="col" class="sort" data-sort="budget">PLAN</th>
              </tr>
            </thead>
            <tbody class="list">
                
                <loading-overlay 
                  :active="busy" :can-cancel="false" :is-full-page="false" :color="'#24a76f'" :width="80" :height="80">
                </loading-overlay>

                <tr v-for="(item, index) in competitions" :key="index">
                  <td>
                    {{ (index + 1) }}
                  </td>
                  <td>
                    <img :src="item.emblem" :alt="item.name" width="40px">
                  </td>
                  <td>
                    <a href="javascript:void(0);" @click="competitionDetail(item)">{{ item.name }}</a>
                  </td>
                  <td>
                    {{ item.code }}
                  </td>
                  <td>
                    <img v-if="item.area" :src="item.area.flag" :alt="item.area.flag" width="20px">
                    <span v-if="item.area"  class="mr-50">{{ item.area.name }}</span>
                  </td>
                  <td>
                    {{ item.type }}
                  </td>
                  <td>
                    {{ item.plan }}
                  </td>
                </tr>

                <tr>
                  <td colspan="5" v-if="competitions.length === 0">
                    <center> NO HAY DATOS REGISTRADOS </center>
                  </td>
                </tr>
            </tbody>
              
          </table>
        </div>

        <div class="table-responsive" v-show="showCompetitionDetail">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th colspan="6">
                  <span class="text-center">LISTA DE EQUIPOS</span>
                </th>
              </tr>
              <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="name">CREST</th>
                <th scope="col" class="sort" data-sort="name">NOMBRE</th>
                <th scope="col" class="sort" data-sort="name">COLORES</th>
                <th scope="col" class="sort" data-sort="name">WEBSITE</th>
                <th scope="col" class="sort" data-sort="name">EVENTO</th>
              </tr>
            </thead>
            <tbody class="list">

                <tr v-for="(item, index) in competition.teams" :key="index">
                  <td>
                    {{ (index + 1) }}
                  </td>
                  <td>
                    <img :src="item.crest" :alt="item.name" width="40px">
                  </td>
                  <td>
                    <a href="javascript:void(0);" @click="teamDetail(item)">{{ item.name }}</a>
                  </td>
                  <td>
                    {{ item.clubColors }}
                  </td>
                  <td>
                    <a :href="item.website" target="_blank">{{ item.website }}</a>
                  </td>
                  <td>
                    {{ item.venue }}
                  </td>
                </tr>

                <tr>
                  <td colspan="5" v-if="(competition.teams).length === 0">
                    <center> NO HAY DATOS REGISTRADOS </center>
                  </td>
                </tr>
            </tbody>
              
          </table>
        </div>

        <div class="table-responsive" v-show="showTeamDetail">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th colspan="6">
                  <span class="text-center">LISTA DE JUGADORES</span>
                </th>
              </tr>
              <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="name">NOMBRE</th>
                <th scope="col" class="sort" data-sort="name">POSICIÓN</th>
                <th scope="col" class="sort" data-sort="name">NUMERO CAMISETA</th>
              </tr>
            </thead>
            <tbody class="list">

                <tr v-for="(item, index) in team.players" :key="index">
                  <td>
                    {{ (index + 1) }}
                  </td>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    {{ item.position ? item.position : '-' }}
                  </td>
                  <td>
                    {{ item.shirtNumber ? item.shirtNumber : '-' }}
                  </td>
                </tr>

                <tr>
                  <td colspan="4" v-if="(team.players).length === 0">
                    <center> NO HAY DATOS REGISTRADOS </center>
                  </td>
                </tr>
            </tbody>
              
          </table>
        </div>

      </div>
    </div>
  </div>
</template>

<script>

  export default {

    data() {
      return {
        busy: false,
        competitions: [],

        busyCompetitionDetail: false,
        competition: {
          id: null,
          name: null,
          type: null,
          plan: null,
          emblem: null,
          area: {
            name: null,
            flag: null,
          },
          teams: [],
        },

        busyTeamDetail: false,
        team: {
          id: null,
          name: null,
          shortName: null,
          tla: null,
          crest: null,
          address: null,
          website: null,
          clubColors: null,
          venue: null,
          players: [],
        },

        showCompetitions: true,
        showCompetitionDetail: false,
        showTeamDetail: false,
      }
    },

    created() {
      this.list();
    },

    methods: {
      list(){
        this.busy = true;
        axios.get('/api/v1/competitions')
        .then(res => {
          if (res.status === 200) {
            this.competitions = res.data;
            this.busy = false;
          }
        })
        .catch(err => {
          console.error(err); 
        });
      },

      show(id){
        this.busyCompetitionDetail = true;
        axios.get(`/api/v1/competitions/${id}`)
        .then(res => {
          if (res.status === 200) {
            this.competition = {
              id: res.data.competition.id,
              name: res.data.competition.name,
              code: res.data.competition.code,
              type: res.data.competition.type,
              emblem: res.data.competition.emblem,
              teams: res.data.teams,
              area: res.data.area,
            };
            this.busyCompetitionDetail = false;
          }
        })
        .catch(err => {
          console.error(err); 
        });
      },

      showTeam(id){
        this.busyTeamDetail = true;
        axios.get(`/api/v1/teams/${id}`)
        .then(res => {
          if (res.status === 200) {
            this.team = {
              id: res.data.id,
              name: res.data.name,
              shortName: res.data.shortName,
              tla: res.data.tla,
              crest: res.data.crest,
              address: res.data.address,
              website: res.data.website,
              clubColors: res.data.clubColors,
              venue: res.data.venue,
              players: res.data.players,
            };
            this.busyTeamDetail = false;
          }
        })
        .catch(err => {
          console.error(err); 
        });
      },

      competitionDetail(data){
        this.showCompetitions = false,
        this.showCompetitionDetail = true,
        this.showTeamDetail = false,
        
        this.show(data.id);
      },

      teamDetail(data){
        this.showCompetitions = false,
        this.showCompetitionDetail = false,
        this.showTeamDetail = true,
        this.showTeam(data.id);
      },

      clearCompetition(){
        this.competition = {
          id: null,
          name: null,
          type: null,
          plan: null,
          emblem: null,
          area: {
            name: null,
            flag: null,
          },
          teams: [],
        }
      },

      backCompetitionsList(){

        if (this.showTeamDetail) {
          this.showCompetitions = false
          this.showCompetitionDetail = true
          this.showTeamDetail = false
        }else if(this.showCompetitionDetail){
          this.showCompetitions = true
          this.showCompetitionDetail = false
          this.showTeamDetail = false

          this.clearCompetition()
          this.list()
        }
      }

    },

    

  };
</script>